body{
	background: url("./img/vicfalls.jpg") no-repeat;
	background-size: cover;
}
.pic img {
 	border-radius: 200px;
 }
.products{
	width:1000px;
	display: table;
	margin: auto;

	color:#fff;
}
h2{
	display:inline-block;
	color:black;
	padding-right:20px;
	margin-bottom:30px;
	line-height:41px;
	text-indent:40px;
	font-size:22px;
	color:#fff;
	box-sizing: border-box;
	


	
}
	ul{
		width:100%;
	}
	ul li{
		float:left;
		padding:0px;
		margin:0;
		list-style:none;
		width:25%;
		color:#fff;
	
	}
	img {
		width:200px;
		height:200px;
		+
	} 
	a {
		text-decoration: none;
		color:#fff;
	}